/*
 * @Author: PsiloLau 
 * @Date: 2018-01-16 01:06:59 
 * @Last Modified by: PsiloLau
 * @Last Modified time: 2018-05-23 21:56:01
 */

/* 列表 */
.p-list-con{
  margin-top: 15px;
  margin-right: -20px;
  overflow: hidden;
}
.p-list-con .p-item{
  position: relative;
  padding: 10px 20px;
  margin: 10px 20px;
  font-size: 15px;
  color: #666;
  border-radius: 5px;
  background: #fff;
}
.p-item .p-name-con {
  height: 35px;
  line-height: 35px;
  font-size: 17px;
}

.p-name {
  font-size: 19px;
  color: #ff5000;
}

.shop-btn {
  position: absolute;
  top: 34px;
  right: 30px;
  width: 100px;
  height: 30px;
  color: #fff;
  background: #c60023;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.shop-btn:hover {
  background: #ff294f;
}


/* 错误信息 */
.err-tip{
  height: 60px;
  line-height: 60px;
  color: #f60;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: #eee;
}