<!DOCTYPE html>
<html lang="en">

<head>
	<%= require('html-loader!./layout/head-common.html')  %>
		<title>
			<%= htmlWebpackPlugin.options.title%> - 相约998-商贸联盟
		</title>
</head>

<body>
	<%= require('html-loader!./layout/nav.html')  %>
		<%= require('html-loader!./layout/header.html')  %>
			<div class="w">
				<ul class="category">
					<li class="category-item">
						<i class="fa fa-mobile"></i>
						<a class="link" target="_blank" href="./list.html?keyword=手机">手机</a>
						<ul class="category-two">
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=手机通讯">手机通讯</a>
							</li>
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=手机配件">手机配件</a>
							</li>
						</ul>
					</li>
					<li class="category-item">
						<i class="fa fa-laptop"></i>
						<a class="link" target="_blank" href="./list.html?keyword=电脑办公">电脑办公</a>
						<ul class="category-two">
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=笔记本">笔记本</a>
							</li>
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=平板电脑">平板电脑</a>
							</li>
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=台式电脑">台式电脑</a>
							</li>
						</ul>
					</li>
					<li class="category-item">
						<i class="fa fa-camera"></i>
						<a class="link" target="_blank" href="./list.html?keyword=摄影摄像">摄影摄像</a>
						<ul class="category-two">
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=摄影摄像">摄影摄像</a>
							</li>
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=时尚数码">时尚数码</a>
							</li>
						</ul>
					</li>
					<li class="category-item">
						<i class="fa fa-tv">
						</i>
						<a class="link" target="_blank" href="./list.html?keyword=电视">电视</a>
						<ul class="category-two">
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=电视">电视</a>
							</li>
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=影音">影音</a>
							</li>
						</ul>
					</li>
					<li class="category-item">
						<i class="fa fa-snowflake-o">
						</i>
						<a class="link" target="_blank" href="./list.html?keyword=冰洗 空调">冰洗 空调</a>
						<ul class="category-two">
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=冰箱">冰箱</a>
							</li>
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=洗衣机">洗衣机</a>
							</li>
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=空调">空调</a>
							</li>
						</ul>
					</li>
					<li class="category-item">
						<i class="fa fa-shower">
						</i>
						<a class="link" target="_blank" href="./list.html?keyword=厨房电器">厨房电器/厨卫电器</a>
						<ul class="category-two">
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=电饭煲">电饭煲</a>
							</li>
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=豆浆机">豆浆机</a>
							</li>
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=电热水器">电热水器</a>
							</li>
						</ul>
					</li>
					<li class="category-item">
						<i class="fa fa-coffee">
						</i>
						<a class="link" target="_blank" href="./list.html?keyword=生活电器">生活电器</a>
						<ul class="category-two">
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=吸尘器">吸尘器</a>
							</li>
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=电风扇">电风扇</a>
							</li>
							<li class="category-two-item">
								<a class="link" target="_blank" href="./list.html?keyword=干衣机">干衣机</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="banner-con">
					<div class="loading"></div>
				</div>
			</div>
			<div class="w">
				<div class="floor-wrap ">
					<h1 class="floor-title">
						实体店销售
						<!-- <a class="more" href="javascript:;">more ></a> -->
					</h1>
					<ul class="floor-list" id="shitiList">
					</ul>
					<div class="pagination-shiti"></div>
					
				</div>
			</div>
			<div class="w">
				<div class="floor-wrap">
					<h1 class="floor-title">
						批发商销售
						<!-- <a class="more" href="javascript:;">more ></a> -->
					</h1>
					<ul class="floor-list" id="pifaList">
					</ul>
					<div class="pagination-pifa"></div>
				</div>
			</div>
			<%= require('html-loader!./layout/footer.html')  %>
</body>

</html>