/*
 * @Author: PsiloLau 
 * @Date: 2018-01-01 15:30:09 
 * @Last Modified by: PsiloLau
 * @Last Modified time: 2018-01-07 13:43:04
 */
/* 通用头部导航 */
.header .logo{
	display: inline-block;
  margin: 40px;
  margin-right: 20px;
	font-size: 30px;
	color: #c60023;
	font-weight: bold;
	text-decoration: none;
}
.header .shop-name {
  display: inline-block;
  width: 200px;
  height: 60px;
  font-size: 16px;
  text-align: center;  
  vertical-align:middle;
}

.shop-name span {
  display: inline-block;
  vertical-align: middle;
  padding-top: 15px;
}

.header .search-con{
  position: relative;
	display: inline-block;
  font-size: 14px;
  margin-left: 20px;
}
.header .search-con .search-input{
	width: 350px;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	font-size: 14px;
	border: 1px solid #c60023;
	outline: none;
	box-sizing: border-box;
}
.header .search-con .search-btn{
  height: 35px;
  float: right;
  width: 70px;
  border-radius: 0;
}

.header .search-con .search-shop{
  margin: 0 5px;
  padding: 0 10px;
  background: #000;
}

/* 面包屑导航 */
.crumb{
  margin-bottom: 15px;
  height: 50px;
  line-height: 50px;
  background: #eee;
  color: #888;
  font-size: 14px;
  border-top: 1px solid #c60023;
}