/*
* @Author: Rosen
* @Date:   2017-05-17 21:20:02
 * @Last Modified by: PsiloLau
 * @Last Modified time: 2017-12-05 15:46:10
*/
.footer{
    margin-top: 10px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}