/*
 * @Author: PsiloLau 
 * @Date: 2018-03-20 23:55:07 
 * @Last Modified by: PsiloLau
 * @Last Modified time: 2018-04-02 13:44:09
 */
.panel {
  position: relative;
}

.input-group {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 200px;
}

.panel .panel-body {
  padding: 10px 0;
}

.panel .p-item {
  float: left;
  width: 230px;
  height: 325px;
  margin: 0 5px 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.panel .p-item:nth-child(3n+0) {
  margin-right: 0;
}

.panel .p-img-con {
  width: 230px;
  height: 230px;
  overflow: hidden;
}

.panel .p-img-con .p-img {
  width: 230px;
  height: 230px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.panel .p-name-con,
.panel .p-subname-con,
.panel .p-btn-con {
  margin: 5px;
}

.panel .p-btn-con .btn:hover {
  color: #fff;
  background: #ef193f;
}