/*
* @Author: Rosen
* @Date:   2017-05-18 19:30:20
 * @Last Modified by: PsiloLau
 * @Last Modified time: 2018-02-13 18:18:46
*/


/* 通用头部导航 */

.header .logo {
	display: inline-block;
	margin: 40px;
	font-size: 30px;
	color: #c60023;
	font-weight: bold;
	text-decoration: none;
}

.header .search-con {
	position: relative;
	display: inline-block;
	font-size: 14px;
	margin-left: 100px;
}

.header .search-con .search-type {
	position: absolute;
	height: 35px;
	line-height: 35px;
	width: 42px;
	padding: 0 10px 0 12px; 
	color: #666;
	border-right: 1px solid #C60023;
	/* overflow: hidden; */
	box-sizing: content-box;
	cursor: pointer;
}
.search-con .search-list {
	visibility: hidden;
	position: absolute;
	top: 34px;
	left: 0;
	width: 63px;	
	color: #666;
	background: #fff;
	border: 1px solid #c60023; 
	cursor: pointer;
	z-index: 999;
}

.search-con .search-type:hover .search-list {
	visibility: visible;
	transition: visibility 0s .2s;
}

.search-con .search-list .search-item {
	padding-left: 10px;	
	height: 25px;
	line-height: 25px;
}

.search-con .search-list .search-item:hover {
	background: #f3f3f3;
}

.header .search-con .search-input {
	width: 450px;
	height: 35px;
	line-height: 35px;
	padding-left: 70px;
	font-size: 14px;
	border: 1px solid #c60023;
	outline: none;
	box-sizing: border-box;
}

.header .search-con .search-btn {
	float: right;
	height: 35px;
	width: 70px;
	border-radius: 0;
}


/* 面包屑导航 */

.crumb {
	margin-bottom: 15px;
	height: 35px;
	line-height: 35px;
	background: #eee;
	color: #888;
	font-size: 14px;
	border-top: 1px solid #c60023;
}