<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://github.com/psilocine" target="_blank">Github</a> |
            <a class="link" href="https://psilocine.github.io" target="_blank">Blog</a> |
            <a class="link" href="javascript:;" target="_blank">友情链接</a> 
            <!-- <a class="link" href="https://www.zhihu.com" target="_blank">知乎</a> -->
        </div>
        <p class="copyright">
            Copyright © 2017 psilocine.cn All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>