<div class="header">
	<div class="w">
		<a class="logo" href="./index.html">相约998-商贸联盟</a>
		<div class="search-con clearfix">
			<div class="search-type">
				<span id="searchType">商品</span>
				<i class="fa fa-angle-down"></i>
				<ul class="search-list">
					<li class="search-item">商品</li>
					<li class="search-item">店铺</li>
				</ul>
			</div>
			<input class="search-input" id="search-input" />
			<button class="btn search-btn" id="search-btn">搜 索</button>

			<div data-toggle="distpicker" id="distpick">
				<div >
					<span>省 份：</span>
					<select search-province="---- 选择省 ----" id="province"></select>
				</div>
				<div>
					<span>城 市：</span>
					<select search-city="---- 选择市 ----" id="city"></select>
				</div>
				<div>
					<span>区/县：</span>
					<select search-district="---- 选择区 ----" id="district"></select>
				</div>
			</div>
			<div>
				<a href="javascript:;" style="color: #c60023;" class="dist-btn">按区域搜索</a>
			</div>
		</div>
	</div>
</div>