/*
* @Author: Rosen
* @Date:   2017-05-09 17:16:19
 * @Last Modified by: PsiloLau
 * @Last Modified time: 2018-04-15 15:41:33
*/


/* category */

.category {
	float: left;
	width: 200px;
	height: 370px;
	padding: 10px 0;
	margin-right: 10px;
	background: #aaa;
	color: #fff;
	box-sizing: border-box;
}

.category .category-item {
	margin-top: 5px;
	padding-left: 15px;
	font-size: 15px;
}

.category .category-item:hover {
	background: #999;
}

.category .category-item .link {
	margin-right: 6px;
	color: #fff;
}

.category-two {
	padding: 0 0 0 10px;
}

.category-two-item {
	font-size: 13px;
	display: inline-block;
}


/* banner-con */

.banner-con {
	position: relative;
	width: 870px;
	float: left;
	height: 370px;
	background: #eee;
}

.banner-con .loading {
	margin-top: 150px;
}

.banner-con .banner-img {
	width: 100%;
	height: 370px;
}


/* banner的前一张和后一张按钮 */


.banner-con #carousel, .carousel{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.banner-con .carousel-item {
	position: absolute;
	width: 100%;
	
}

.ctrl {
	position: absolute;
	width: 100%;
	bottom: 30px;
	text-align: center;
}

.ctrl .libs {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 7px;
	border-radius: 50%;
	background: #fff;
	z-index: 10;
}

.ctrl .libs.active {
	background: #ff5000;
}

.ctrl .arrow {
	position: absolute;
	top: -150px;
	width: 25px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-family: '宋体';
	color: #fff;
	background: #222;
	opacity: .5;
	cursor: pointer;
	z-index: 10;
}

.ctrl .prev {
	left: 0;
	border-top-right-radius: 45%;
	border-bottom-right-radius: 45%;
}

.ctrl .next {
	right: 0;
	border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
}



/* floor */


.floor-wrap .floor-title {
	position: relative;
	height: 50px;
	line-height: 50px;
	color: #d58717;
	font-weight: normal;
	font-size: 20px;
	border-bottom: 1px solid #d58717;
}

.floor-wrap .floor-title .more {
	position: absolute;
	bottom: 5px;
	right: 5px;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	color: inherit;
}


.floor-wrap .floor-list {
	margin-right: -20px;
}

.floor-list .floor-item {
	display: inline-block;
	font-size: 0;
	width: 130px;
	height: 190px;
	padding: 20px;
	margin: 20px 20px 0 20px;
	border: 1px solid #ddd;
}
.floor-list .floor-item p {
	font-size: 12px;
}

.floor-list .floor-item img {
	border-radius: 50%;
	margin-bottom: 20px;
}


/* .floor-wrap .floor-list .floor-item {
	position: relative;
	width: 200px;
	height: 220px;
	margin: 15px 20px 15px 0;
	float: left;
	cursor: pointer;
	background: #fff;
	transition: all ease .5s;
}
*/

.floor-wrap .floor-list .floor-item:hover {
	cursor: pointer;
	box-shadow: 1px 1px 7px #ddd;
}

.pagination,
.pagination-pifa {
	padding-top: 10px;
}